<app-top-dock></app-top-dock>
<div class="container-fluid">
  <div class="row clearfix">
    <div class="content-wrapper content-wrapper-user">
      <div class="col-md-12 icon_bg icon_bg_user" style="text-align: right;">
        <div class="row">
          <div class="col-md-6 text-left">
            <div class="filter">
              <button class="btn"><a style="color:#fff;" href="event-list-02.html"><i class="fa fa-angle-left" style="color:#fff;"></i>&nbsp;&nbsp;Event List</a></button>
              <div class="datepicker-div" style="visibility:hidden;">
                <input id="datepicker" width="270" />
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-fix-text">
            <!-- <a href="form-user.html" target="_blank" class="action-icon" data-toggle="tooltip" data-placement="bottom" title="Send Via SMS"><img src="assets/images/11.png" class="icon_style"></a>
            <a href="form-user.html" target="_blank"class="action-icon" data-toggle="tooltip" data-placement="bottom" title="Send Via Email"><img src="assets/images/22.png" class="icon_style"></a>

            <div class="upload" upload-image="">
              <input data-toggle="tooltip" data-placement="bottom" title="Upload Image" type="file" id="files" name="files" class="input-file ng-pristine ng-valid ng-touched" files-model="" ng-model="project.fileList">
              <label for="files">
                <output id="list"></output>
              </label>
            </div> -->
            <!-- <a href="#" class="action-icon" data-toggle="tooltip" data-placement="bottom" title="Upload To Server"><img src="assets/images/33.png" class="icon_style"></a> -->
            <!-- <a href="form-user.html" target="_blank" class="action-icon" data-toggle="tooltip" data-placement="bottom" title="Send To Printer"><img src="assets/images/44.png" class="icon_style"></a>
            <a href="form-user.html" target="_blank" class="action-icon" data-toggle="tooltip" data-placement="bottom" title="Send To Slideshow"><img src="assets/images/55.png" class="icon_style"></a> -->
            <a href="swiper_01.html" target="_blank" class="action-icon" style="margin-top:5px;color:#fff;text-transform:uppercase" data-toggle="tooltip" data-placement="bottom" style="line-height:40px;" title="Show Slideshow" target="_blank">Show Slideshow</a>
          </div>
        </div>
      </div>
      <div class="form-group panel-right-block"
           [ngStyle]="{'background-image': 'url(' + advertisementOnPage.logo + ')',
                                                        'background-size':'cover'}"
           >
        <div class="event-gallery container ad-show-width">
          <div class="desc-div row">
            <div class="noteditable-desc">
              <div  class="col-lg-12 text-center">
                <img src="{{advertisementOnPage.background}}" width="100" class="img-responsive" style="display:inline-block;margin-bottom:15px;" />
              </div>
              <div class="row clearfix" style="margin-top:20px;">
                <div class="col-lg-2">
                </div>
                <div class="col-md-8" style="height:80px;overflow:hidden;">
                  <img  src="{{advertisementOnPage.topBanner}}" class="img-responsive" style="display:block !important;width:100%;">
                </div>
                <div class="col-lg-2">
                </div>
              </div>
              <div class="col-lg-12 text-center">
                <h3 class="event-name" style="color:#fff;margin-top:5px;font-size:18px;margin-bottom:5px;">Beach party 2015</h3>
                <p class="e-date" style="color:#fff;margin-bottom:5px;margin-top:0px;font-size:14px;">
                  Date: 12 July,2017
                </p>
                <p class="e-image-no" style="font-size:14px;margin-top:10px;font-weight:500;margin-top:0px;">
                  768 images
                </p>
              </div>
            </div>
            <!-- <div class="editable-desc toggler">
              <input type="text" class="event-name" value="Beach party 2015" />
              <input type="text" class="e-date" value="Date: 12 July,2017" />
              <input type="text" class="e-image-no" value="768 Images" />
            </div> -->
          </div>

          <div class="event-gallery thumb-container content" id="content-2">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_01.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput1" name=""/>
                  <label for="checkboxFiveInput1">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="This is my title" data-caption="Some lovely red flowers" data-image="images/img_01.jpg" data-target="#image-gallery">
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_02.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput2" name=""/>
                  <label for="checkboxFiveInput2">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="The car i dream about" data-caption="If you sponsor me, I can drive this car" data-image="images/img_02.jpg" data-target="#image-gallery">
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_02.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput3" name=""/>
                  <label for="checkboxFiveInput3">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_01.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput4" name=""/>
                  <label for="checkboxFiveInput4">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="This is my title" data-caption="Some lovely red flowers" data-image="images/img_01.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_01.jpg" alt="Image"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_02.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput5" name=""/>
                  <label for="checkboxFiveInput5">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="The car i dream about" data-caption="If you sponsor me, I can drive this car" data-image="images/img_02.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_02.jpg" alt="A alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_03.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput6" name=""/>
                  <label for="checkboxFiveInput6">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_02.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput7" name=""/>
                  <label for="checkboxFiveInput7">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="This is my title" data-caption="Some lovely red flowers" data-image="images/img_01.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_01.jpg" alt="Image"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_01.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput89" name=""/>
                  <label for="checkboxFiveInput89">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="The car i dream about" data-caption="If you sponsor me, I can drive this car" data-image="images/img_02.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_02.jpg" alt="A alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_03.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput58" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_02.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput15" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_03.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput16" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_02.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput17" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_01.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput18" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_03.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput19" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_02.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput20" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_03.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput20" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_02.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput20" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 thumb" style="background:url(assets/images/img_03.jpg)no-repeat;">
              <div class="chk-div toggler">
                <div class="checkboxFive">
                  <input type="checkbox" value="1" id="checkboxFiveInput20" name=""/>
                  <label for="checkboxFiveInput9">
                  </label>
                </div>
              </div>
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="images/img_03.jpg" data-target="#image-gallery">
                <!-- <img class="img-responsive" src="images/img_03.jpg" alt="Another alt text"> -->
              </a>
            </div>
          </div>
          <div class="row clearfix" style="margin-top:20px;">
            <div class="col-lg-2">
            </div>
            <div class="col-md-8" style="height:80px;overflow:hidden;">
              <img  src="{{advertisementOnPage.bottomBanner}}" class="img-responsive" style="display:block !important;width:100%;">
            </div>
            <div class="col-lg-2">
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Modal Area -->

    <!-- Footer -->
    <!-- <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer> -->

  </div>

  <!-- Modal -->
  <div class="modal fade modal-video modal-noborder" id="popUpModal" tabindex="-1" role="dialog" aria-labelledby="popUpModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <a href="#image-gallery" class="close" data-dismiss="modal" aria-label="Close">&times;</a> -->
          <a *ngIf="advertisementConfig.popUpAd.showClosePopUp" href="#image-gallery" class="close" data-toggle="modal" data-dismiss="modal" (click)="switchedOffRotation()" >x</a>
          <h4 class="modal-title hidden-xs" id="popUpModalLabel">Please Close If you Don't Like Ad</h4>
        </div>
        <div class="modal-body">
          <img *ngIf="advertisementOnPage.popUpAd.currentFileType == 'IMAGE'"
               src="{{advertisementOnPage.popUpAd.currentImage}}"
                style="height: 400px;width: 570px"
          >

          <video *ngIf="advertisementOnPage.popUpAd.currentFileType == 'VIDEO'" muted  class="video" id="pmcGalAdVideo" autoplay style="width: 100%;"  >
            <source *ngIf="advertisementOnPage.popUpAd.video.ready"
                    src="{{advertisementOnPage.popUpAd.video.path}}"
                    type="{{advertisementOnPage.popUpAd.video.mimeType}}" />
          </video>
        </div>
      </div>
    </div>

    <!-- Modal Area -->
    <div class="modal fade bs-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content modal-cstm">
          <!-- Slider main container -->

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-gallery" id="image-gallery" style="overflow:auto;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <a id="modalDismiss" href="#" class="close"  data-dismiss="modal" >x</a>
          <h4 class="modal-title" id="image-gallery-title"></h4>
        </div>
        <div class="modal-body clearfix">
          <div class="social-foot">
            <a href="#"><img src="assets/images/social/facebook.png" width="30"></a>
            <a href="#"><img src="assets/images/social/gplus.png" width="30"></a>
            <a href="#"><img src="assets/images/social/twitter.png" width="30"></a>
            <a href="#"><img src="assets/images/social/instagram.png" width="30"></a>
            <a href="#" style="float:right;background:transparent;color:red !important;"><i class="fa fa-2x fa-warning"></i></a>
          </div>
          <div class="col-md-12" style="padding:0px;">
            <img id="image-gallery-image" class="img-responsive" src="assets/images/img_01.jpg">
          </div>
          <div class="desc-div-foot">
            <h5>This is the title pic</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum dolor urna, consequat fermentum orci convallis eget. Aenean ac nulla at est porta malesuada. Aliquam at lobortis enim, ornare laoreet sem. Aliquam blandit lacus augue, quis feugiat sapien imperdiet eget.
            </p>
            <span class="image-number">Image 4578A</span>
          </div>
        </div>
        <div class="modal-footer">

          <div class="col-md-2 text-left">
            <button type="button" class="btn btn-primary btn-action" id="show-previous-image"><i class="fa fa-chevron-left"></i></button>
          </div>

          <div class="col-md-8 text-center">

          </div>

          <div class="col-md-2">
            <button type="button" id="show-next-image" class="btn btn-default btn-action"><i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- /.container -->

 <!--

  <script src="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/js/gijgo.min.js" type="text/javascript"></script>

  <script>
    $('.count').each(function () {
      $(this).prop('Counter',0).animate({
        Counter: $(this).text()
      }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
          $(this).text(Math.ceil(now));
        }
      });
    });
  </script>


  <script>
    $(document).ready(function(e){
      $(".img-check").click(function(){
        $(this).toggleClass("check");
      });
    });

    $(document).ready(function () {
      $('#datepicker').datepicker({
        uiLibrary: 'bootstrap'
      });
    });
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>

  <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflow: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true
      }
    });
  </script>
  <script>
    $(document).ready(function(){

      loadGallery(true, 'a.thumbnail');

//This function disables buttons when needed
      function disableButtons(counter_max, counter_current){
        $('#show-previous-image, #show-next-image').show();
        if(counter_max == counter_current){
          $('#show-next-image').hide();
        } else if (counter_current == 1){
          $('#show-previous-image').hide();
        }
      }

      /**
       *
       * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
       * @param setClickAttr  Sets the attribute for the click handler.
       */

      function loadGallery(setIDs, setClickAttr){
        var current_image,
          selector,
          counter = 0;

        $('#show-next-image, #show-previous-image').click(function(){
          if($(this).attr('id') == 'show-previous-image'){
            current_image&#45;&#45;;
          } else {
            current_image++;
          }

          selector = $('[data-image-id="' + current_image + '"]');
          updateGallery(selector);
        });



        if(setIDs == true){
          $('[data-image-id]').each(function(){
            counter++;
            $(this).attr('data-image-id',counter);
          });
        }
        $(setClickAttr).on('click',function(){
          updateGallery($(this));
        });
      }
    });
    function updateGallery(selector) {
      var $sel = selector;
      current_image = $sel.data('image-id');
      $('#image-gallery-caption').text($sel.data('caption'));
      $('#image-gallery-title').text($sel.data('title'));
      $('#image-gallery-image').attr('src', $sel.data('image'));
      disableButtons(counter, $sel.data('image-id'));
    }
  </script>

  <script>
    (function($){
      $(window).load(function(){

        $("#content-1").mCustomScrollbar({
          autoHideScrollbar:true,
          mouseWheel:{ scrollAmount: 150 },
          theme:"rounded"
        });
        $("#content-2").mCustomScrollbar({
          autoHideScrollbar:true,
          mouseWheel:{ scrollAmount: 150 },
          theme:"rounded"
        });

      });
    })(jQuery);
  </script>

  <script>
    $('.thumb').height($('.thumb').width());
  </script>

-->
