<div class="swiper-body">
  <div class="swiper-ad" id="adToggle" style="display:none;">
    <div class="swiper-left swl-bg">
      <div class="event-logo">
        <div class="center-flex">
          <img src="assets/images/jd.png">
          <h2 class="" >
            8825 E Jefferson Ave,<br>
            Detroit, MI 48214<br>
            (313) 822-6607
          </h2>
        </div>
        <!-- <div class="divider" style="margin-top:0px;padding:1px;"></div> -->
      </div>

      <div class="event-ad text-center ad-carousel">
        <img class=""   src="assets/images/adjd.png" style="margin:0px auto;">
      </div>
    </div>
    <div class="swiper-right swr-bg" style="background:#000 url(assets/images/party2.jpg)no-repeat;background-size:cover;background-position:center;">
      <div class="center-swiper">
        <div id="carousel-example-generic-ad" class="carousel slide cstm-carousel-slide carousel-fade" data-interval="500" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <video class="video" id="video1" loop autoplay muted style="width: 100%;" >
                <source src="assets/images/pmcads/mcdonalds.webm" type="video/webm" />
                <source src="assets/images/pmcads/mcdonalds.ogv" type="video/ogg" />
                <source src="assets/images/pmcads/mcdonalds.mp4" type="video/mp4" />
              </video>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="swiper-wrapper  change-bg" id="changeBg">
    <div class="swiper-left wow slideInDown">
      <div class="event-logo">
        <div class="center-flex">
          <img src="assets/images/pmc-stock/vendor.png" class="wow bounceInDown"  data-wow-duration="1s"  data-wow-delay="1s">
          <h2 class="wow bounceInLeft"   data-wow-delay="2s">
            8825 E Jefferson Ave,<br>
            Detroit, MI 48214<br>
            (313) 822-6607
          </h2>
        </div>
        <!-- <div class="divider" style="margin-top:0px;padding:1px;"></div> -->
      </div>
      <div class="event-ad wow bounceInUp" data-wow-delay="4s">
        <div id="carousel-example-generic-ad" class="carousel slide  carousel-fade ad-carousel" data-interval="10000" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="assets/images/pmc-stock/e.jpg" />
            </div>
            <div class="item">
              <img src="assets/images/pmc-stock/e1.png" />
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="swiper-right">
      <div class="center-swiper wow slideInRight" data-wow-delay="5s">
        <div id="carousel-example-generic" class="carousel slide cstm-carousel-slide carousel-fade" data-interval="5000" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="assets/images/pmc-stock/1.jpg" />
            </div>
            <div class="item">
              <img src="assets/images/pmc-stock/3.jpg" />
            </div>
            <div class="item">
              <img src="assets/images/pmc-stock/4.jpg" />
            </div>
            <div class="item">
              <img src="assets/images/pmc-stock/5.jpg" />
            </div>
            <div class="item">
              <img src="assets/images/pmc-stock/6.jpg" />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
