<div class="swiper-body">

  <div class="swiper-wrapper  change-bg" id="changeBg"  >

    <img id="{{i}}Bg" *ngFor="let bgImg of pageData.location.locationBackgroundImages;let i = index"
         src="{{resourcePath}}{{bgImg.image}}"
         style="position:  absolute;width: 100%;height: 100%;display:none;">

    <div class="swiper-left wow slideInDown" >
      <div class="swiper_top" style="height: 50%; width: 100%; padding-bottom: 10%; position: relative;     border-bottom: 1px solid #fff;">
        <div class="center-flex" style="    position: absolute; bottom: 10%; text-align: center;">
          <img  src="{{pageData.location.locationLogo}}"
                style="width: 61%;height: 50%"
                class="wow bounceInDown"
                data-wow-duration="1s"  data-wow-delay="1s">

          <h2 class="wow bounceInLeft"   data-wow-delay="2s">
            {{pageData.location.name}}
          </h2>
          <h3 class="wow bounceInLeft fifix_location_font"   data-wow-delay="2s">
            <span>{{pageData.location.address}}</span><br>
            <span >
              {{pageData.location.city.name}}
              <label *ngIf="pageData.location.city.name!=null && pageData.location.city.name!=''">,</label>
              {{pageData.location.state.name}}
              <label *ngIf="pageData.location.state.name!=null && pageData.location.state.name!=''">,</label>
              {{pageData.location.zip}}</span><br>
            <span> {{pageData.location.phone}}</span>
          </h3>
        </div>
      </div>
      <div class="swiper_bottom text-center" style="height: 50%; width: 100%; padding-top: 10%;  position: relative">
        <div class="event-ad wow bounceInUp hidden-xs" data-wow-delay="4s" style=" align-items: self-start;   position: absolute; top: 10%; text-align: center; height: 100%;">
          <!--<img onerror="this.src='assets/images/event-default.png'" src="{{pageData.event.eventPhoto}}" />-->
          <img onerror="this.src='assets/images/event-default.png'" src="{{pageData.event.eventPhoto}}" style="width: 100%; display: block; max-height: 100%;">
        </div>
        <img class="wow bounceInUp visible-xs hidden-lg hidden-md hidden-sm" data-wow-delay="4s" onerror="this.src='assets/images/event-default.png'" style="height: 90%; margin: 0 auto;" src="{{pageData.event.eventPhoto}}"/>
      </div>
    </div>
    <div class="swiper-right">

      <div id="eventImageParentDiv" class="center-swiper"  >  <!--  data-wow-delay="1s"-->
        <div id="eventImageDiv" class="carousel slide cstm-carousel-slide " > <!-- data-interval="1000"  data-ride="carousel" ->

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="fifix_slideshow dev-event-image" id="{{i}}slideShow" *ngFor="let eventImage of pageData.eventImage;let i = index" style="display: none;" > <!--[ngClass]="(i==1)?'item active left':'item'" -->
              <img src="{{eventImagePath}}{{eventImage.image}}" />
            </div>

          </div>

        </div>
        <div id="slideShowAdDiv" class="fifix_slideShowAdDiv"  style="display: none;">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox" style="height: 100%;">
            <div class="item active" style="text-align: center;height: 100%;">
              <!-- "-->
              <input type="button" class="btn-close-ad" value="X" (click)="stopSlideShowAdRotation()">
              <span class="btn-close-alert fifix_closer">Closing In ({{pageData.slideShowAd.closingCountdown}})</span>
              <a  *ngIf="pageData.slideShowAd.currentFileType=='IMAGE'" href="javascript:void(0)" target="_blank" (click)="openAdUrl(pageData.slideShowAd.currentBannerImg.url)" style="display: block;height: 100%; overflow: hidden">
                <img *ngIf="pageData.slideShowAd.currentFileType=='IMAGE'" id="slidShowAdPmcBanner"  src="{{pageData.slideShowAd.currentBannerImg.path}}" >
              </a>

              <video *ngIf="pageData.slideShowAd.video.ready"   class="video" id="slidShowVideoAdPmc"   style="width: 100%;" >
                <source
                  *ngIf="pageData.slideShowAd.video.ready"
                  src="{{pageData.slideShowAd.video.link}}" type="{{pageData.slideShowAd.video.mimeType}}"
                />
              </video>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>



<script src="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
